summary {
  name            = 'orthology-inference'
  author          = 'Thilo Schulze'
  website         = 'https://github.com/ThiloSchulze/orthology-inference'
  description     = 'A pipeline for graph-based and tree-based orthology inference of assembled WGS data'
  mainScript      = 'main.nf'
  nextflowVersion = '!>=20.04.1'
  version         = '1.0'
}


params {
    // Mandatory option
    dataset                 = null

    // Miscellaneous
    help                    = false
    version                 = false

    // Resource allocation
    memory =  6
    threads = 4
    time = '1.d'

    // Input/output options
    output                  = "inference_out"

    //orthofinder
    orthofinder_output_dir  = "orthogroup_inference"
    a= 2
    d= null
    I= null
    S= null

    //filtering_ogs
    basedir                 = ""
    filter_species          = 1
    max_sequence            = 200
    rerun_status            = 0
    filtering_output        = "filtered_orthogroups"

    //mafft
    mafft                   = "mafft"
    localpair               = null
    globalpair              = null
    genafpair               = null
    fastapair               = null
    memsave                 = null
    weighti                 = null
    retree                  = null
    op                      = null
    ep                      = null
    maxiterate              = null
    nofft                   = null
    parttree                = null
    dpparttree              = null
    fastaparttree           = null
    quiet_mafft             = null

    //iqtree
    quiet_iqtree            = null
    epsilon                 = null
    ninit                   = null
    ntop                    = null
    nbest                   = null
    ufboot                  = null
    ufjack                  = null
    jackprop                = null
    nmax                    = null
    nstep                   = null
    bcor                    = null
    beps                    = null
    bnni                    = null
    boot                    = null
    jack                    = null
    alrt                    = null
    alrt0                   = null
    abayes                  = null
    lbp                     = null
    m                       = "LG"

}

process {
cpus                        = params.threads


}